<VirtualHost 0.0.0.0:80>
  ServerName localhost

  ## Use the default docroot.
  DocumentRoot "{{getenv "DOCROOT"}}"
  DirectoryIndex index.php index.html

  ## Additional overrides for the default VirtualHost directory.
  <Directory "{{getenv "DOCROOT"}}">
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Require all granted
  </Directory>

  ## Logging
  ErrorLog /dev/stderr
  TransferLog /dev/stdout

  ## Security
  ServerSignature Off

  ## Define a php-fpm proxy connection.
  <Proxy "fcgi://localhost:9001">
    ProxySet timeout={{getenv "PROXY_TIMEOUT"}}
  </Proxy>

  ## Redirect to the proxy
  <FilesMatch \.php$>
      SetHandler proxy:fcgi://localhost:9001
  </FilesMatch>
</VirtualHost>
